<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SaveCharacter</servlet-name>
		<servlet-class>de.oth.app.geekquest.SaveCharacterServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>GenData</servlet-name>
        <servlet-class>de.oth.app.geekquest.DataGenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>de.oth.app.geekquest.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Geekquest</servlet-name>
        <jsp-file>/GeekQuest.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetHobbitName</servlet-name>
        <servlet-class>de.oth.app.geekquest.GetHobbitNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Highscore</servlet-name>
        <jsp-file>/Highscore.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FindHobbitNameForm</servlet-name>
        <jsp-file>/FindHobbitNameForm.jsp</jsp-file>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>SaveCharacter</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>GenData</servlet-name>
        <url-pattern>/gendata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Geekquest</servlet-name>
        <url-pattern>/geekquest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Highscore</servlet-name>
        <url-pattern>/highscore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHobbitName</servlet-name>
        <url-pattern>/gethobbitname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindHobbitNameForm</servlet-name>
        <url-pattern>/findhobbitname</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>Highscore.jsp</welcome-file>
	</welcome-file-list>
</web-app>
