<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<servlet>
		<servlet-name>SaveCharacter</servlet-name>
		<servlet-class>de.oth.app.geekquest.SaveCharacterServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>GenData</servlet-name>
        <servlet-class>de.oth.app.geekquest.DataGenServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>MigrateData</servlet-name>
        <servlet-class>de.oth.app.geekquest.DataMigrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>de.oth.app.geekquest.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttackCharacter</servlet-name>
        <servlet-class>de.oth.app.geekquest.AttackCharacterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Geekquest</servlet-name>
        <jsp-file>/GeekQuest.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetHobbitName</servlet-name>
        <servlet-class>de.oth.app.geekquest.GetHobbitNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MigrateMissions</servlet-name>
        <servlet-class>de.oth.app.geekquest.MissionMigrationMapReduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopyCharClassToMissions</servlet-name>
        <servlet-class>de.oth.app.geekquest.CopyCharClassToMissionMapReduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Highscore</servlet-name>
        <jsp-file>/Highscore.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FindHobbitNameForm</servlet-name>
        <jsp-file>/FindHobbitNameForm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BattlePage</servlet-name>
        <jsp-file>/BattlePage.jsp</jsp-file>
    </servlet>
	<servlet-mapping>
		<servlet-name>SaveCharacter</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>GenData</servlet-name>
        <url-pattern>/gendata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MigrateData</servlet-name>
        <url-pattern>/migrate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Geekquest</servlet-name>
        <url-pattern>/geekquest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Highscore</servlet-name>
        <url-pattern>/highscore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHobbitName</servlet-name>
        <url-pattern>/gethobbitname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindHobbitNameForm</servlet-name>
        <url-pattern>/findhobbitname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BattlePage</servlet-name>
        <url-pattern>/battle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttackCharacter</servlet-name>
        <url-pattern>/attack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MigrateMissions</servlet-name>
        <url-pattern>/migratemissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyCharClassToMissions</servlet-name>
        <url-pattern>/copycharclass</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>mapreduce</servlet-name>
        <servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
    </servlet>
	<servlet-mapping>
	  <servlet-name>mapreduce</servlet-name>
	  <url-pattern>/mapreduce/*</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>pipeline</servlet-name>
	  <servlet-class>com.google.appengine.tools.pipeline.impl.servlets.PipelineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>pipeline</servlet-name>
	  <url-pattern>/_ah/pipeline/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
	  <web-resource-collection>
	    <url-pattern>/mapreduce/*</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	  </auth-constraint>
	</security-constraint>

    
    <welcome-file-list>
        <welcome-file>Highscore.jsp</welcome-file>
    </welcome-file-list>
    <system-properties>
        <property name="java.util.logging.config.file" value="WEB-INF/logging.properties" />
    </system-properties>

</web-app>
